In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
Odi_link='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page = requests.get(Odi_link).text

In [4]:
soup=BeautifulSoup(page,'lxml')

In [9]:
FirstPos=soup.find('td',class_='rankings-block__banner--pos').text.split()
FirstTeamName=soup.find('span',class_='u-show-phablet').text
matc=soup.find('td',class_='rankings-block__banner--matches').text
point=soup.find('td',class_='rankings-block__banner--points').text
Rate=soup.find('td',class_='rankings-block__banner--rating u-text-right').text.split()

In [23]:
TopTeam1=pd.DataFrame({'POSITION': FirstPos, 'TEAM NAME': FirstTeamName, 'MATCH': matc,'POINT': point,'RATING':Rate})

In [15]:
Odi_data=soup.findAll('tr',attrs={'class':'table-body'})

In [18]:
Pos=[]
TeamName=[]
Matches=[]
Point=[]
Rating=[]

In [19]:
for store in Odi_data:
    pos = store.find('td',class_='table-body__cell table-body__cell--position u-text-right').text
    Pos.append(pos)
    
    team=store.find('span',class_='u-show-phablet').text
    TeamName.append(team)
    
    matches=store.find('td',class_='table-body__cell u-center-text').text
    Matches.append(matches)
    
    point= store.find('td',class_='table-body__cell u-center-text').text
    Point.append(point)
    
    rating=store.find('td',class_='table-body__cell u-text-right rating').text.strip()
    Rating.append(rating)

In [20]:
TopTeam= pd.DataFrame({'POSITION': Pos, 'TEAM NAME': TeamName, 'MATCH': Matches,'POINT': Point,'RATING':Rating})

In [25]:
TopOdiTeam = [TopTeam1, TopTeam]
TopOdiTeamList = pd.concat(TopOdiTeam)

In [26]:
TopOdiTeamList

   POSITION TEAM NAME MATCH POINT RATING
0         1        NZ    20    23    122
0         2       ENG    32    32    119
1         3       AUS    31    31    112
2         4       IND    38    38    110
3         5        SA    31    31    102
4         6       PAK    30    30     97
5         7       BAN    36    36     93
6         8        SL    35    35     81
7         9        WI    36    36     77
8        10       AFG    23    23     68
9        11       IRE    28    28     52
10       12       SCO    14    14     51
11       13       ZIM    23    23     41
12       14       NED    13    13     35
13       15       UAE    20    20     33
14       16       OMA    27    27     29
15       17       NAM    13    13     21
16       18       NEP    17    17     18
17       19       USA    14    14     17
18       20       PNG    23    23      8